#header {
    position: fixed;
    top : 0;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center; /* Centre le texte dans le menu */
}

#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centre les éléments de la liste horizontalement */
}

#header li {
    margin: 0;
}

#header a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin: 0 25px; /* Ajoute de l'espace entre les textes */
}

#header a:hover {
    background-color: #555;
}

#menu {
    position: fixed;
    top: 50;
    left: 0;
    background-color: #333;
    width: 200px; /* Largeur du menu vertical */
    height: 100vh;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 0;
}

#menu a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

#menu a:hover {
    background-color: #555;
}

#footer {
    position: fixed; /* Position fixe par rapport à la fenêtre visible */
    left: 0;
    bottom: 0; /* Placé en bas de la fenêtre */
    width: 100%; /* Occupe la largeur complète */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

#contact {
    position: fixed;
    top: 100;
    left: 350;
    background-color: #333;
    color: white;
    padding: 10px;
    width: 1300px;
}

#contact h1 {
    text-align: center;
}

.champs {
    margin: 20px;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 15px;
}

.gauche, .droite {
    float: left;
    width: 20%;
}

.gender {
    clear: both;
    margin: 20px;
    width: 300px;
    margin-bottom: 15px;
}

#sujet {
    width: 1250px;
    margin-bottom: -10px;
}

#message {
    margin: 20px;
    height: 400px;
    width: 1250px;
}

table {
    position: fixed;
    width: 80%;
    top: 175;
    left: 300;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    max-width: 100px;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

img {
    max-width: 10%;
    display: block;
}

.cache {
    display: none;
}

#toggle-stock-button {
    position: fixed;
    top: 700;
    right: 85;
}
